# OpenOCD config for flashing the SAMD21 mainboard with a SEGGER J-Link probe.
#
# The target board must be powered separately unless your specific J-Link has
# target-power output explicitly enabled.

source [find interface/jlink.cfg]
transport select swd
source [find target/at91samdXX.cfg]
adapter speed 1000
